<% include ./partials/top.ejs %>
<%# this is a comment %>


<div class="loginContainer">
    <div class="welcomeText">Welcome to the To-Do App</div>
    <div class="buttons">
    
      <div class="loginBtn"><a href="/login">LOGIN</a></div>     
      <div class="registerBtn"><a href="/register">REGISTER</a></div>
      
    </div>
  </div>

<% include ./partials/bottom.ejs %>


