<% include ./partials/top.ejs %>
  <form action="">
    <div class="userLogin">
      <input class="userInfo" placeholder="username" type="text" required>
      <input class="userInfo" placeholder="password" type="password" required>
      <div class="buttons">
        <div class="loginBtn">LOGIN</div>
      </div>
    </div>
  </form>
  <% include ./partials/bottom.ejs %>