  <% include ./partials/top.ejs %>
  <form action="">
    <div class="userRegistration">
      <input class="userInfo" placeholder="username" type="text" required>
      <input class="userInfo" placeholder="password" type="password" required>
      <input class="userInfo" placeholder="email" type="email" required>
      <input class="userInfo" placeholder="name" type="text" required>
      <div class="buttons">
        <div class="registerBtn">REGISTER</div>
      </div>
    </div>
  </form>

  <% include ./partials/bottom.ejs %>